
<!DOCTYPE html>
<html>
  <head>
    <!-- Tab Title -->
    <title>Eat Burger!</title>

    {{!-- bootstrap cdn --}}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   {{!-- link of the css file --}}
    <link rel="stylesheet" href="/assets/css/burger_style.css">
  </head>
  <body>
  
    {{{body}}}
   

    <!-- Link in jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

  </body>
</html>